.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 2px solid red;*/
   @include mobile {
    width: 450px;
   }
   @include tablet {
       width: 738px;
   }
   @include desktop {
       width: 1170px;
   }
}
   
