/* Модальное окно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 528px;
    min-height: 581px;
    padding: 40px;
    line-height: 1.15px;

    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.button-close {
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.icon-close-black {
    fill: var(--color-logo-black);
    .button-close:hover &,
    .button-close:focus & {
        fill: var(--accent-color);
    }
}

.form-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);

    display: block;
    margin-bottom: 4px;
}

.checkbox-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.check-text {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    &::before {
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    }

    .client-checkbox:checked+&::before {
    background-color: var(--accent-color);
    border: transparent;
    background-image: url(../images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    }
}

.client-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
    border: 1px solid var(--accent-color);
    }
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 11px;

    fill: var(--title-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .client-input:focus+& {
        fill: var(--accent-color);
    }
}

.client-comment {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--accent-color)
}

.button-send {
    display: flex;
    justify-content: center;
}

