html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}