/*Стилизация секции clients*/
.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.clients__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.clients__website {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.clients__icon-logo {
    fill: var(--color-of-svg);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients__website:hover &,
    .clients__website:focus & {
        fill: var(--accent-color);
    }
}

