/* Стилизация footer  */
footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.logo.footer {
    color: var(--secondary-text-color);

    display: block;
    margin-bottom: 20px;
}

.physical-adress {
    font-style: none;
    font-style: normal;

    color: var(--secondary-text-color);
}

a.contacts.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.adress .item:not(:last-child) {
    margin-bottom: 9px;
}

.title-second-column-footer {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 15px;
}

.second-column-footer {
    width: 206px;
    height: 44px;
}

.social-networks-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.item-social-networks-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--secondary-text-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--secondary-text-color);
        border-radius: 50%;
    }
}

.form-footer {
    display: flex;
    margin-top: 20px;
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--secondary-text-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
}

.button-subscribe {
    padding: 0;
    margin-left: 12px;
}

.icon-send {
    fill: var(--secondary-text-color);
    margin-left: 10px;
}

.input-email {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: var(--secondary-text-color);
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}

