/* Стилизация секции team */
.team {
    background-color: var(--button-background-color);
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__item {
    background-color: var(--secondary-text-color);
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__main-title {
    margin-bottom: 50px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px auto 10px;

    color: var(--title-text-color);
}

.team__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__social-networks-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 0 auto;
}

.team__social-networks-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-top: 16px;

    background-color: transparent;
    fill: var(--color-of-svg);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--secondary-text-color);
        border-radius: 50%;
    }
}

